# Eclipse Specific
.metadata/
bin/
*.class

# Compiled Executables and Launchers
*.jar
*.exe
InventoryManager.exe
InventoryManager.jar

# Bundled Java Runtime
jre/

# Application Data & Local Storage
Items.db
Items.xml
Stocks.txt
paths.txt
*.tmp

# OS Generated
.DS_Store
Thumbs.db